.posterImage{
    min-height: 600px;
}

/* define the size of image in the crousal */
.posterImage > img {
    margin: auto;
    display: block;
    width: 100%;
}

.posterImage__overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 1;
    transition: opacity .3s;
}   

.posterImage__overlay:hover {
    opacity: 1;
}

.posterImage__title {
    font-weight: 900;
    /* font-size: 4rem; */
    font-size: clamp(1rem, 2.5vw, 4rem); 
    margin-bottom: 0.4rem;
    text-align: left;
}

.posterImage__runtime {
    border: 1px solid white;
    /* font-size: 2rem; */
    font-size: clamp(1rem, 2.5vw, 4rem); 
    margin-bottom: 1rem;
}

.posterImage__rating {
    font-size: clamp(1rem, 2.5vw, 4rem); 
    margin-left: 3rem;
}

.posterImage__description {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
}


@media screen and (max-width: 768px){

    /* .posterImage__runtime{
        display: none;
    } */


    .posterImage__description{
        display: none;
    }

    .posterImage img{
        min-height: 100vh;
        object-fit: cover;
    }
    .posterImage__rating{
        margin-left: 1rem;
    }
    
}