.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* border: 1px solid white; */
}

.headerLeft, .headerRight {
    width: 100%;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

.nav-menu{
    position: absolute;
    top: 10px;
    right: 10px;
}



@media screen and (max-width: 768px){

    .nav{
        display: none;
        color: blue;
    }
    .header__icon{
        width: 50px;
    }

    .header__icon {
        margin-left: 0;
    }
    
    
}

@media screen and (min-width: 768px){

    .nav-menu{
        display: none;
    }
   
    
}